<div class="container">
  <h1 class="text-center mb-4">Destaques</h1>
  <div class="row">
    <div class="col features text-center">
      <img [src]="'./assets/images/' + featuresData.feature1.image" alt="" />
      <div class="text-center">
        <h4>{{ featuresData.feature1.title }}</h4>
        <p>{{ featuresData.feature1.text }}</p>
      </div>
    </div>
    <div class="col features text-center">
      <img [src]="'./assets/images/' + featuresData.feature2.image" alt="" />
      <div class="text-center">
        <h4>{{ featuresData.feature2.title }}</h4>
        <p>{{ featuresData.feature2.text }}</p>
      </div>
    </div>
    <div class="col features text-center">
      <img [src]="'./assets/images/' + featuresData.feature3.image" alt="" />
      <div class="text-center">
        <h4>{{ featuresData.feature3.title }}</h4>
        <p>{{ featuresData.feature3.text }}</p>
      </div>
    </div>
    <div class="col features text-center">
      <img [src]="'./assets/images/' + featuresData.feature4.image" alt="" />
      <div class="text-center">
        <h4>{{ featuresData.feature4.title }}</h4>
        <p>{{ featuresData.feature4.text }}</p>
      </div>
    </div>
  </div>
</div>
